body {
    background-color: black;
    display: flex;
}
body::-webkit-scrollbar {
    display: none;
}

a {
    color: white;
    text-decoration: underline;
}

#sky {
    margin: 15% 0 0 15%;
    width: 30%;
}

#bio {
    color: white;
    text-align: justify;
    word-spacing: 2.5px;
    animation: fadeIn ease 10s;
    animation-iteration-count: 1;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}
#quote {
    color: white;
}

@keyframes fadeIn { 
    0% { 
        visibility: visible; opacity: 1; 
    } 
    /* 0% { 
        visibility: hidden; opacity: 0; 
    }  */
    33% {
        visibility: visible; opacity: 1; 
    }
    100% { 
        visibility: visible; opacity: 1; 
     } 
} 

.gallery {
    margin: 2% 0;
    margin-left: 20%;
    overflow-y: scroll;
    width: 40%;
    height: 90vh;    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery::-webkit-scrollbar {
    display: none;
}

img {
    /* opacity: 0%; */
    margin-top: 80px;
    margin-right: 80px;
    user-select: none;
}
img:hover {
    opacity: 100%;
}

#reflections {
    max-width: 400px;
    height: auto;
}
#scars {
    max-width: 350px;
    height: auto;
}
#window {
    max-width: 250px;
    height: auto;
}
#rivers {
    max-width: 300px;
    height: auto;
}
#falls {
    max-width: 400px;
    height: auto;
    margin-bottom: 100px;
}